section
    .row
        .col-sm-8.col-sm-push-2
            .form-group
                form(name='postForm', novalidate='')
                    error-list
                    label Choose a Category:
                    select.error-list(ng-options='category.title as category.title for category in categories', ng-model='post.category', name='category', required='')
                        option(value='') --category--
                    .error-list(ng-if='postForm.category.$dirty || postForm.$submitted', ng-messages='postForm.category.$error')
                        div(ng-message='required') Which category does this item belong to?
                    br(ng-show='!postForm.$submitted')
                    //- var cat = document.getElementByName('category').value;
                    ///if cat == "string:Books"
                    input.form-control(type='text',ng-if="document.getElementsByName('category')[0].value === 'string:Books'" , name='isbn', placeholder="isbn")
                    label  Title:
                    input.form-control(type='text', name='title', ng-model='post.title', required='', ng-minlength='5', ng-model-options='{allowInvalid:true}')
                    .error-list(ng-if='postForm.title.$dirty || postForm.$submitted', ng-messages='postForm.title.$error')
                        div(ng-message='required') Tell us what you're posting.
                        div(ng-message='minlength') Title must be at least 5 characters.
                    label Author:
                    input.form-control(type='text', ng-model='post.author', name='author', required='', ng-minlength='2', ng-model-options='{allowInvalid:true}')
                    .error-list(ng-if='postForm.author.$dirty || postForm.$submitted', ng-messages='postForm.author.$error')
                        div(ng-message='required') Tell us who's posting.
                        div(ng-message='minlength') Author must be at least 2 characters.
                    label Description:
                    textarea.form-control(rows='5', type='text', name='description', ng-model='post.description', required='', ng-minlength='20', ng-maxlength='1000', ng-model-options='{allowInvalid:true}')
                    .error-list(ng-if='postForm.description.$dirty || postForm.$submitted', ng-messages='postForm.description.$error')
                        div(ng-message='required') Tell us about the item.
                        div(ng-message='minlength') Description must be at least 20 characters.
                        div(ng-message='maxlength') Description must not exceed 500 characters.
                    // if conditionals for new post or editing old post
                    .form-bottom-button(ng-if="path === '/postForm'")
                        a(ng-href='#/list')
                            button.btn.btn-primary Back to List
                        input.btn.btn-primary(type='button', ng-click='reset(postForm)', value='Reset Form')
                        input.btn.btn-primary(type='submit', ng-click='update()', value='Post')
                    .form-bottom-button(ng-if="path !== '/postForm'")
                        a(ng-href='#/post/{{post.id}}')
                            button.btn.btn-primary Back to Post
                        input.btn.btn-primary(type='submit', ng-click='update()', value='Update Post')
