<section>
	<div class="row">
		<div class="col-sm-8 col-sm-push-2">
			<div class="form-group">
				<form name="postForm" novalidate>

					<label> Title: </label>
						<input class="form-control" type="text" name="title" ng-model="post.title" required="" ng-minlength="5" ng-model-options="{allowInvalid:true}"/>
					<div class="error-list" ng-if="postForm.title.$dirty || postForm.$submitted" ng-messages="postForm.title.$error">
						<div ng-message="required">Tell us what you're posting.</div>
						<div ng-message="minlength">Title must be at least 5 characters.</div>
					</div>

					<label>Choose a Category:  </label>
						<select class="error-list" ng-options="category.id as category.name for category in categories" ng-model="post.categoryId" name="category" required>
							<option value="">--select--</option>
						</select>
						<div class="error-list" ng-if="postForm.category.$dirty || postForm.$submitted" ng-messages="postForm.category.$error">
								<div ng-message="required">Which category does this item belong to?</div>
						</div>

					<br ng-show="!postForm.$submitted">

					<label>Author: </label>
					<input class="form-control" type="text" ng-model="post.author" name="author" required="" ng-minlength="2" ng-model-options="{allowInvalid:true}"/>
					<div class="error-list" ng-if="postForm.author.$dirty || postForm.$submitted" ng-messages="postForm.author.$error">
						<div ng-message="required">Tell us who's posting.</div>
						<div ng-message="minlength">Author must be at least 2 characters.</div>
					</div>


					<label>Description: </label>
					<textarea class="form-control" rows="5" type="text" name="description" ng-model="post.description" required="" ng-minlength="20" ng-maxlength="1000" ng-model-options="{allowInvalid:true}"></textarea>
					<div class="error-list" ng-if="postForm.description.$dirty || postForm.$submitted" ng-messages="postForm.description.$error">
						<div ng-message="required">Tell us about the item.</div>
						<div ng-message="minlength">Description must be at least 20 characters.</div>
						<div ng-message="maxlength">Description must not exceed 500 characters.</div>
					</div>

					<!-- if conditionals for new post or editing old post -->
					<div ng-if="postIsNew" class="form-bottom-button">
						<a ng-href="#/list"><button class="btn btn-primary">Back to List</button></a>
						<input type="button" class="btn btn-primary" ng-click="reset(postForm)" value="Reset Form" />
						<input type="submit" class="btn btn-primary" ng-click="update(post)" value="Post" />
					</div>

					<div ng-if="!postIsNew" class="form-bottom-button">
						<a ng-href="#/post/{{post.postId}}"><button class="btn btn-primary">Back to Post</button></a>
						<input type="submit" class="btn btn-primary" ng-click="update(post)" value="Update Post" />
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
