div
    a(ng-href='#/post/{{post.postId}}')
        h3 {{post.title}}
    h5 Posted by {{post.author}} in {{category.name}} on {{post.date | date:"short"}}
    button.btn.btn-default(ng-really-message='Are you sure you want to delete this post?', ng-really-click='deletePost({{post.postId}})') Delete this post
    a(ng-href='#/post/{{post.postId}}/edit')
        button.btn.btn-default Edit this post
